<div class="hero ">
	<div class="container center">
		<h1>Under construction</h1>
		<p>
			Welcome to <strong>Offbeat Games</strong>
		</p>
		<p>We are currently developing this website. It will be a place for news about our games and other silly things. While waiting for the site to be done, check out <a target="_blank" href="http://th3dz.com">th3dz.com</a> and follow us on twitter <a target="_blank" href="http://twitter.com/th3dz">@Th3dz</a></p>
	</div>
</div>

<div class="container content">
</div>